{% extends 'admin/admin_base.html' %}

{% block header_ext %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instance.css') }}">
    <script src="{{ url_for('static',filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="content-header">
      <h1>
        资源配额管理
      </h1>
      <ol class="breadcrumb">
        <li style="font-size: 18px;"><a href="{{ url_for('admin.index') }}"><i class="fa fa-tags"></i>主控制台</a></li>
        <li style="font-size: 18px;"><a href="{{ url_for('admin.resource') }}">资源配额管理</a></li>
        <li class="active" style="font-size: 18px;">已审核申请</li>
      </ol>
    </section>

    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title"> 已审核申请</h3>
                  <div class="box-tools pull-right">
                      <a class="btn btn-primary btn-sm" href="{{ url_for('admin.resource') }}">返回</a>
                      <button type="button" class="btn btn-success btn-sm" data-widget="collapse">折叠列表</button>
                  </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped dataTable" id="myTable">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>用户名</th>
                                <th>CPU(千分之一核)</th>
                                <th>内存(兆)</th>
                                <th>容器数量</th>
                                <th>申请时间</th>
                                <th>状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in applies %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ a.user.username }}</td>
                                <td>{{ a.cpu_num }}</td>
                                <td>{{ a.memory_num }}</td>
                                <td>{{ a.instance_num }}</td>
                                <td>{{ a.created_time }}</td>
                                <td><button class="btn btn-success">已审核</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
        </div>
    </section>
    <!-- /.content -->






{% endblock %}

{% block footer_ext %}
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Chinese.json"
                },
                searching: true,
                ordering: false
            });
        });

    </script>
{% endblock %}